{{ define "main" }}
<article>
  <div class="container">
    <div class="row">
      <div class=" col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
        <div style="text-align:center">
          <h1 class="page-title">Digital Twins Ecosystems and Applications</h1>
          <em>In conjunction with the 23rd IEEE International Conference on Pervasive Computing and Communications (<a
              href="https://www.percom.org">PerCom 2026</a>), Pisa, Italy, 16-20 March, 2026.</em>
        </div>
        {{/*  <div class="newsbox yellow">
          <h2><b>*NEW*</b> Deadline Extension</h2>
          <div>You have until the 7th of December to submit your paper!
            Check the call for paper for submission instructions <a href="/2026/cfp">here</a>
          </div>
        </div>  */}}
        <!-- <div class="newsbox yellow">
          <h2>Camera Ready</h2>
          <div>For your Camera Ready, please refer to the <a
              href="https://www.percom.org/camera-ready-preparation/">official PerCom instructions.</a></div>
        </div> -->
        <div class="newsbox yellow">
          <h2>Thank you for joining DIGITA26!</h2>
          {{/*  <div>The list of <a href="/2026/accepted/">accepted papers</a> is available.</div>  */}}
          <div>We have been very happy to have you with us in Pisa on <b>Monday 16 March</b>.</div>
          <div>Please refer to the <a href="/2026/program">program</a> for further information on the works presented during the workshop.</div>
          <div>Stay tuned for updates on the <a href="https://digita-percom.github.io/">DIGITA workshop serie website</a>!</div>
        </div>
        <div class="newsbox blue">
          <h2>Best Paper Award</h2>
          <p> The DIGITA26 Best Paper Award goes to the paper:
            <br/>
            <i>Dual Mind World Model Inspired Network Digital Twin for Access Scheduling</i> 
            <br/>
            by Hrishikesh Dutta, Roberto Minerva, and Noel Crespi. 
            Congratulations to the authors!
          </p>
        </div>
        <div class="page-content">
          <p>
            Recent trends in computer science have promoted new ways to think about software at both design time and run
            time. Next-generation intelligent pervasive systems will be modelled as ecosystems of Digital Twins (DTs),
            that are
            the virtual counterparts of physical objects. Digital Twins have emerged as a revolutionary approach to
            managing
            and optimising the lifecycle of physical assets in pervasive computing applications. By creating a digital
            counterpart, that mirrors a physical entity or
            process and encapsulates computational intelligence or simulation tools, stakeholders can continuously
            monitor,
            analyse, and predict the behaviour of the real-world counterpart in real time. This continuous feedback loop
            enables enhanced decision-making, efficiency improvements, and proactive maintenance, thereby driving
            innovation
            and competitiveness in various industries. In particular, the convergence of IoT, AI, and big data analytics
            has
            accelerated the development and adoption of DTs in several application domains. IoT devices provide the
            necessary
            sensory input, AI offers advanced data processing, reasoning and decision-making capabilities, and big data
            analytics
            facilitates the handling of large volumes of data generated by physical and digital entities. Moreover,
            different
            simulation techniques are exploited in this context, being complementary approaches that can be integrated
            as
            tools with analytics and predictive properties. This synergy is critical in realising the full potential of
            Digital
            Twins, making it possible to create highly responsive, intelligent, and autonomous systems. As such, they
            are
            becoming increasingly vital in a wide range of sectors, from manufacturing to the energy industry,
            healthcare, and
            transportation.
          </p>
          <p>Rarely we can think of assets as fully isolated from their surroundings. This is especially true when we
            start
            applying the DT concept not only to devices or products but possibly to people and processes we want to
            track in
            our domain. Following this trend, Digital Twins Ecosystems can be envisioned to not be limited to the scope
            of
            an individual twin but to engineer the integration of several DTs to get a holistic view of the target
            domain.
            However, the design and implementation of Digital Twin Ecosystems are not without challenges. Issues such
            as data security, privacy, and ethical considerations are paramount, especially given the sensitive nature
            of the data
            involved. Ensuring interoperability and scalability of Digital Twin solutions across different platforms and
            industries
            also presents significant hurdles. Integrating and coordinating different approaches to analyse the whole
            ecosystem
            behaviour and possibly predict its evolution is another open issue. Addressing these challenges requires a
            concerted
            effort from the research community and industry practitioners.</p>
        </div>
        <!-- <div id="twinkle" style="display: flex; align-items: center">
          <img style="margin-right:20px" src="img/prin_twinkle_logo.jpg" alt="Twinkle Logo">
          <span>
            This workshop is organized with the aid of the <a href="https://twinkle-project.github.io/">TWINKLE </a>
            Project team (project ID: 20223N7WCJ and CUP: E53D23007770001)
          </span>
        </div> -->
      </div>
</article>

<!-- {{ partial "portfolio.html" . }} -->
{{ end }}